@use '../../abstracts/mixins';

.opportunities {
  &__cards {
    display: flex;
    flex-direction: column;
    gap: 15px;
    .card {
      @include mixins.media-breakpoint(max, tablet) {
        box-shadow: none;
      }
    }
    @include mixins.media-breakpoint(min, tablet) {
      flex-direction: row;
      justify-content: center;
      gap: 25px;
      .card {
        max-width: 350px;
      }
      .card__description {
        justify-self: start;
        margin-top: 0;
      }
    }
  }
}
