@use '../../abstracts/mixins';
@use '../../abstracts/functions';

.section-layout {
  padding: 15px;
  &__title {
    font-size: functions.fontSize('large');
    padding-bottom: 15px;
    @include mixins.media-breakpoint(min, tablet) {
      text-align: center;
      padding: 25px;
    }
  }
}
