$colors: (
  primary: #e5e7eb,
  secondary: #2c7548,
  text: #374151,
  link: #2c7548,
  background: #ecf0f1,
  black: #111827,
  error: #e74c3c,
);

$breakpoints: (
  small-mobile: 360px,
  medium-mobile: 425px,
  large-mobile: 500px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1440px,
  large-desktop: 1920px,
);

$radius: (
  small: 5px,
  medium: 10px,
  large: 25px,
);

$font-sizes: (
  small: 0.8rem,
  medium: 1rem,
  large: 1.5rem,
  x-large: 2rem,
);
