@use '../abstracts/functions';
@use '../abstracts/mixins';

.footer {
  background-color: functions.color(secondary);
  color: functions.color(background);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 25px;

  &__text {
    font-size: functions.fontSize(medium);
  }

  &__credits {
    font-size: functions.fontSize(small);
    font-style: italic;
    &-link {
      color: functions.color(background);
      &:hover {
        color: functions.color(black);
      }
    }
  }

  .cta {
    border: 4px solid functions.color(background);
    color: functions.color(background);
    &__blobs {
      div {
        background-color: functions.color(background);
      }
    }
    &:hover {
      color: functions.color(secondary);
    }
  }

  @include mixins.media-breakpoint(min, large-mobile) {
    &__text,
    &__credits {
      text-align: center;
    }
  }
}
